@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

@font-face {
    font-family: 'RobotoThin';
    src: url('Roboto-Thin.ttf');
}

body {
    text-align: center;
    margin: 0px;
    font-family: RobotoThin;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, rgb(100, 100, 100) 0%, rgb(0, 0, 0) 100%);
    background-attachment: fixed;
    color:white;
    overflow-x: hidden;
}

header {
    top: 0px;
    width: 100vw;
    text-align: center;
}

footer {
    position: fixed;
    height: 2vw;
    width: 100vw;
    bottom: 0px;
    text-align: left;
}

a {
    text-decoration: none;
    color: white;
}

a.header{
    color: black;
    width: 8vh;
    height: 2.5vh;
    font-size: 2.5vw;
    margin: 5px;
}

a.header:hover{
    color: lightblue;
}

h1.title {
    font-size: 5vw;
    color: white;
    font-family: RobotoThin;
}

div.main {
    width: 100vw;
}

img.link {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    width: 20vw;
    background-color: white;
}

p.footertext {
    font-family: RobotoThin;
    color: white;
    left: 0px;
    font-size: 1vw;
}