@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}

body {
    text-align: center;
    margin: 0px;
    font-family: Roboto;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, rgb(100, 100, 100) 0%, rgb(0, 0, 0) 100%);
    background-attachment: fixed;
    color:white;
    overflow-x: hidden;
}

header {
    margin-top: 2vh;
}

footer {
    position: fixed;
    height: 2vw;
    width: 100vw;
    bottom: 0px;
    text-align: left;
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

a.header{
    background-color: white;
    color: black;
    width: 5vh;
    height: 2.5vh;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 0.6vh;
    font-size: 1.5vw;
}

h1.title {
    font-size: 5vw;
    color: white;
    font-family: Roboto;
}

div.main {
    width: 100vw;
}

img.link {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    width: 20vw;
    background-color: white;
}

p.footertext {
    font-family: Roboto;
    color: white;
    left: 0px;
}